Body {
    font-family: "Georgia", "Garamond", serif;
    background-color: LavenderBlush;
    color: DarkRed;
    text-align: center;
    margin: 0 ;
}

header {
    background-color: LightPink;
    color:DarkRed;
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

nav a {
    color: DarkRed;
    margin: 0 10px;
    Transition: color 0.3s;
}

nav a:hover {
    color: white;
}

.filtered.img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-top: 25px;
    filter: grayscale(70%);
    transition: filter 0.3s;
}

.filtered-img:hover {
    filter: grayscale(0%);
}
.skills-list {
    list-style-type:none;
    padding: 0;
    margin: 0 auto;
    text-align:center;
}

a.repo-link {
    background-color: LightPink;
    color: DarkRed;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s;
}
a.repo-link:hover {
    background-color: white;
    color: DarkRed;
}

a.pdf-link {
    color: LightPink; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a.pdf-link:hover {
    color: white;
    text-decoration: underline;
}
.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px auto;
    width: 90%;
}

.card {
    background-color: LightPink;
    color: DarkRed;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
}
.qr-img {
    width: 150px;
    height: auto;
    margin-top: 15px;
    border-radius: 10px;

}
